on: 
  push:
    branches:
      - 'master'
  pull_request:

name: Continuous integration

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install alsa
        shell: bash
        run: sudo apt install libasound2-dev
      - run: cargo build

  build-sf3:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install alsa
        shell: bash
        run: sudo apt install libasound2-dev
      - run: cargo build --features sf3

  build-i16-out:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install alsa
        shell: bash
        run: sudo apt install libasound2-dev
      - run: cargo build --features i16-out

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install alsa
        shell: bash
        run: sudo apt install libasound2-dev
      - run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo fmt --all -- --check

  # clippy:
  #   name: Clippy
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - run: cargo clippy -- -D warnings
